<!-- <mat-toolbar class="mat-primary mat-elevation-z2 mat-h1 app-navbar">
  <h1>Mijn Toernooi</h1>
</mat-toolbar> -->

<mat-toolbar color="primary" class="mat-elevation-z2">
    <mat-toolbar-row>
        <a routerLink="/" class="header-home-button"><span class="">Mijn Toernooi</span></a>
        <div class="docs-navbar">
            <button class="docs-navbar-link" mat-button routerLink="/standings">Standings</button>
            <button class="docs-navbar-link" mat-button>Services</button>
            <button class="docs-navbar-link" mat-button>Contact</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
